{#
/**
 * @file
 * Theme override of an image.
 *
 * Available variables:
 * - attributes: HTML attributes for the img tag.
 * - style_name: (optional) The name of the image style applied.
 *
 * @see template_preprocess_image()
 */
#}
{%-
  set classes = [
    style_name ? 'image-style-' ~ style_name|clean_class,
  ]
-%}
<img{{ attributes.addClass(classes) }} />
{% if attributes.hasClass('image-style-large') %}
  <span class="expand-image">
    <i class="fa fa-expand" aria-hidden="true"></i>
  </span>
{% endif %}